@font-face{
	font-family: Exo2;
    src: url('/css/fonts/Exo2.0-SemiBold.otf');
}
.divider{
	margin:0px;
}
article h1,article h2,article h3,article h4,article h5,article h6{
	text-align:center;
	margin:0px;
	color: black;
}
.linkHolder{
	display:block;
}
.post a{
	text-decoration:none;
	color:#2B2B2B;
	min-width:100%;
}
.post .limited{
	max-height:70px;
	margin-bottom:0px;
	overflow:hidden;
}
.post.limited a{
	overflow:hidden;
}
.post.limited{
	max-width:700px;
}
.fadeOutText{
	height:100%;
	width:100%;
	position: absolute; 
    bottom: 0px;
    left:0px;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
    );
}
html{
	min-height:100%;
	width:100%;
	position:relative;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}
body {
	font-family:"MS Sans Serif", Geneva, sans-serif;
	max-width:100%;
	min-width:300px;
	overflow-x:hidden;
	margin:0px;
	padding:0px;
	padding-bottom:580px;
	padding-top:58px;
	color: #2B2B2B;
	/*text-shadow: 2px 2px #3D0305;*/
	background-color: lightgray;
	font-family:Exo2;
	/*background:#79161C;*/
}
header{
	display:block;	
    
	background-color: white;
    border: 1px solid darkgray;
    padding: 10px;
}
nav{
	display:block;
	z-index: 2;
	width:250px;
	min-height:100%;
	position:absolute;
	top:0px;
	/*background: linear-gradient(135deg, #edd08c 0%, #3D0305 100%);*/
	background:#3D0305;
	background-image: linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5)), 
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5));
	background-size:8px 14px;
	background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
	/*transform:translate(-250px,0);*/
	left:-250px;
	transition: left 0.3s ease;
}
nav div.linkHolder{
	min-height:48px;
	width:100%;
	border-bottom:1px solid #79161c;
}
nav div.linkHolder a{
	color:#EDD08C;
	text-decoration:none;
	top:15px;
	left:15px;
	position:relative;
}
nav div.linkHolder:hover a{
	font-weight:bold;
	color:#6687BD;
}
nav div.linkHolder:hover{
	cursor:pointer;
	background:#3D0305;
	background: linear-gradient(-135deg, rgba(0,0,0,0)0%, #3D0305 100%);
}
nav.open{
	left:0px;
	/*transform: translate(0,0);*/
}
.contact{
	display:none;
}
#menu{
	height:48px;
	width:48px;
	/*border-radius:12px;*/
	opacity:.9;
	margin:5px;
	/*position:absolute;*/
	position:relative;
	float:left;
	top:0px;
	/*border: 2px solid black;*/
	/*transform:translate(0,0);*/
	/*transition: transform 0.3s ease;*/
}
#Facebook{
	height:48px;
	width:48px;
	/*border-radius:12px;*/
	opacity:.9;
	margin:5px;
	position:relative;
	float:left;
	/*top:0px;*/
	/*left:58px;*/
	/*border: 2px solid black;*/
	background-image: URL('./fb.jpg');
	background-size:cover;
}
#Twitter{
	height:48px;
	width:48px;
	/*border-radius:12px;*/
	opacity:.9;
	margin:5px;
	position:relative;
	float:left;
	/*top:0px;*/
	/*left:116px;*/
	/*border: 2px solid black;*/
	background-image: URL('./twitter.jpg');
	background-size:cover;
}
#Google{
	height:48px;
	width:48px;
	/*border-radius:12px;*/
	opacity:.9;
	margin:5px;
	position:relative;
	float:left;
	/*top:0px;*/
	/*left: 174px;*/
	/*border: 2px solid black;*/
	background-image: URL('./google.jpg');
	background-size:cover;
}
#Youtube{
	height:48px;
	width:48px;
	/*border-radius:12px;*/
	opacity:.9;
	margin:5px;
	position:relative;
	float:left;
	/*top:0px;*/
	/*left: 232px;*/
	/*border: 2px solid black;*/
	background-image: URL('./yotube.jpg');
	background-size:cover;
}
#LinkedIn{
	height:48px;
	width:48px;
	/*border-radius:12px;*/
	opacity:.9;
	margin:5px;
	position:relative;
	float:left;
	/*top:0px;*/
	/*left: 232px;*/
	/*border: 2px solid black;*/
	background-image: URL('/images/linkedin.jpg');
	background-size:cover;
}
.smediaHolder{
		position:absolute;
		/*left:58px;*/
	}
#menu .hamLine{
	margin-top:4px;
	margin-left: 6px;
	margin-right: 6px;
	height: 4px;
	border-radius: 4px;
	width:34px;
	position:relative;
	top:8px;
	border: 1px solid black;
}
#menu.open{
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:black;
	opacity:.9;
	position:fixed;
	z-index:1;
	margin:0px;
	/*transform: translate(222px,0);*/
}
#menu.open div{
	display:none;
}
/*#menu.open:after{
	color:whitesmoke;
	display:block;
	position:relative;
	top:13px;
	left:52px;
	content:"<<";
	height:100%;
	
}*/
section{
	display:block;
}
article{
	display:block;
	padding:5px;
	margin:5px;
}
aside{
	display:block;
	/* margin-bottom:50px; */
	margin-top: 5px;
    padding: 5px;
    padding-bottom: 57px;
    
	background-color: white;
    border: 1px solid darkgray;
}
footer{
	display:block;
}
div.bottom a{
	text-decoration:none;
	color:#EDD08C;
}
div.bottom a:hover{
	text-decoration:none;
	color:#6687BD
}
div.bottom{
	position:absolute;
	bottom:0px;
	height:570px;
	width:100%;
	margin:0px;
	padding-top:10px;
	background: #111742;
	color:#EDD08C;
	/*box-shadow: 0px 0px 10px #000000;*/
	/*color:whitesmoke;*/
	/* background:#3D0305; */
	/* background-image: linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5)), 
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5)); */
	/* background-size:8px 14px; */
	/* background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px; */
}
div.bottom h5{
	margin-top:0px;
	margin-bottom:10px;
	margin-left:5px;
}
 div.bottom h4{
 	margin-top:0px;
 }
div.vline{
	position:relative;
	top:15px;
	height:25px;
	width:2px;
	background-color: whitesmoke;
}
#bgImage{
	/*height:100px;*/
	width:100%;
}
#bgImage h1,#bgImage h2{
	text-align:center;
	margin:0px;
	text-shadow: 2px 2px #3D0305;
	color:#EDD08C;
	background:#79161C;
	height:74px;
	position:relative;
	top:-58px;
}
#sliderFrame{
	width:100%;
}
#slider{
	width:100%;
	/*background-size:contain;*/
	/*background-image:URL('/blog/mockups/KGB1.png');*/
	max-height:300px;
	overflow:hidden;
	position:relative;
	transition: background-image 2s;
}
#slider img{
	position:absolute;
	display:block;
	opacity:0;
	width:100%;
	background-size:cover;
	transition: opacity 2s;
	
}
#slider img.show{
	position:relative;
	/*top:0px;*/
	opacity:1;
	background-size:cover;
	transition: opacity 2s;
}
#slider .sliderInfo{
	position:absolute;
	bottom:0px;
	width:100%;
}
#slider .sliderTitle{
	background:black;
	opacity:.9;
	color:#6687BD;
	/*height:30px;*/
	font-size: 1.5em;
	text-align: center;
	padding:3px;
	width:100%;
}
#slider .sliderDescription{
	display:none;
}
.topBar{
	background-color:#3D0305;
	/*background-image: linear-gradient(30deg, #2D0305 12%, transparent 12.5%, transparent 87%, #2D0305 87.5%, #2D0305),
	linear-gradient(150deg, #2D0305 12%, transparent 12.5%, transparent 87%, #2D0305 87.5%, #2D0305),
	linear-gradient(30deg, #2D0305 12%, transparent 12.5%, transparent 87%, #2D0305 87.5%, #2D0305),
	linear-gradient(150deg, #2D0305 12%, transparent 12.5%, transparent 87%, #2D0305 87.5%, #2D0305),
	linear-gradient(60deg, #050909 25%, transparent 25.5%, transparent 75%, #050909 75%, #050909), 
	linear-gradient(60deg, #050909 25%, transparent 25.5%, transparent 75%, #050909 75%, #050909);*/
	background-image: linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5)), 
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5));
	background-size:8px 14px;
	background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
	position:absolute;
	top:74px;
	left:0px;
	width:100%;
	height:58px;
	border-bottom: 1px solid black;
}
table,tr{
	width:100%;
	max-width:360px;
	margin:0 auto;
}
td{
	width:20%;
	height:50px;
}
#opsHolder{
	width:100%;
}
#opsHolder td{
	padding:5px;
	/*width:33.33%;*/
}
#opsHolder td img{
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height:60px;
}
.title1{
	display:block;
}
.title2{
	display:none;
}
.title4{
	display:block;
	text-align:center;
	margin:0px;
	text-shadow: 2px 2px #3D0305;
	color:#EDD08C;
	background:#79161C;
	height:74px;
	line-height:37px;
}
.connect{
	display:none;
	background-image:URL('./location.jpg');
}
.arrows2{
	display:none;
}
.arrows{
	display:none;
}
.right, .left{
	font-size:2em;
	border-radius:36px;
	background:black;
	opacity:.9;
	color:#6687BD;
	width:72px;
	height:72px;
	line-height: 62px;
}
.right:hover, .left:hover{
	color:#EDD08C;
	border: 2px solid #EDD08C;
	width:68px;
	height:68px;
	line-height:58px;
	cursor:pointer;
}
.right{
	position:relative;
	text-align:center;
}
.left{
	position:relative;
	text-align:center;
}
.aright{
	position:absolute;
	right:-20px;
	top:50px;
	
}
.aleft{
	position:absolute;
	left:-20px;
	top:50px;
}
.title3{
	display:none;
	color:#6687BD;
}
.botGroup1{
	position:absolute;
	left:50%;
}
.botGroup2{
	position:absolute;
	left:50%;
	top:170px;
}
.botGroup8{
	position:absolute;
	left:50%;
	top:295px;
}
.botGroup9{
	position:absolute;
	left:50%;
	top:335px;
}
.botGroup1, .botGroup2, .botGroup3, .botGroup4, .botGroup5, .botGroup6, .botGroup7, .botGroup8, .botGroup9{
	margin-left:3px;
	width:140px;
	margin-bottom:20px;
}
.botGroup1 h5:hover, .botGroup2 h5:hover, .botGroup3 h5:hover,
.botGroup4 h5:hover, .botGroup5 h5:hover, .botGroup6 h5:hover, 
.botGroup7 h5:hover, .botGroup8 h5:hover, .botGroup9 h5:hover{
	color:#6687BD;
	cursor:pointer;
}
.botGroup4 h4:hover, .botGroup6 h4:hover, 
.botGroup7 h4:hover, .botGroup8 h4:hover, botGroup9 h4:hover{
	color:#6687BD;
	cursor:pointer;
}
.botNavHolder{
	position:relative;
}
.post{
	position:relative;
	color:#2D0305;
	margin:5px;
	padding:5px;
	min-height:38px;
	border:1px solid #000000;
	border-radius:2px;
	font-weight:bold;
	border:1px solid #000000;
	background: rgba(237, 208, 140,.5);
}
.smedia-feed{
	position:relative;
	color:#2D0305;
	margin:5px;
	padding:5px;
	min-height:38px;
	border:1px solid #000000;
	border-radius:2px;
	font-weight:bold;
	border:1px solid #000000;
	box-shadow:0px 0px 5px #000000;
	background: rgba(255,255,255,.5);
	text-align:center;
}
.post:hover{
	color:#3D0305;
	border:1px solid #000000;
	box-shadow:0px 0px 5px #6687BD;
	cursor:pointer;
	background:#EDD08C;
}
.postDescription{
	display:none;
}
#opsHolder2{
	display:none;
}
@media screen and (min-width: 420px){
	.botGroup1{
		left:66%;
	}
	.botGroup2{
		position:relative;
		left:auto;
		top:auto;
	}
	.botGroup4{
		position:absolute;
		top:202px;
		left:33%;
	}
	.botGroup5{
		position:absolute;
		top:0px;
		left:33%
	}
	.botGroup6{
		position:absolute;
		top:237px;
		left:33%;
	}
	.botGroup7{
		position:absolute;
		top:182px;
		left:66%;
	}
	.botGroup8{
		position:absolute;
		top:217px;
		left:66%;
	}
	.botGroup9{
		position:relative;
		top:auto;
		left:auto;
	}
	.title2{display:block;margin-top:0px;margin-left:58px;margin-right:58px;text-align:center;line-height:40px;}
	.title1{display:none;}
	.topBar{height:138px;top:0px;}
	body{margin-top:138px;}
	.connect{
		display:block;
		position:relative;
		float:left;
		/*top:0px;*/
		/*right:0px;*/
		height:48px;
		width:48px;
		/*border-radius:12px;*/
		opacity:.9;
		margin:5px;
		/*border: 2px solid black;*/
		background-color: #79161C;
	}
	#slider .sliderDescription{
		display:block;
		background:black;
		opacity:.9;
		color:#6687BD;
		max-height:0px;
		overflow:hidden;
		padding:3px;
		width:100%;
		transition: max-height .5s ease;
	}
	#sliderImage:hover{
		cursor:pointer;
	}
	#slider:hover .sliderDescription{
		/*height:30px;*/
		/*font-size: 2em;*/
		/*text-align: center;*/
		max-height:1000px;
		/*display:block;*/
		
		/*position:absolute;*/
		/*bottom:0px;*/
	}
	#slider:hover .arrows{
		display:block;
	}
	#slider .sliderTitle{
		text-align:left;
		/*top:0px;*/
		/*bottom:inherit;*/
	}
	.smediaHolder{
		/*width:238px;*/
		/*height:58px;*/
		/*left:50%;*/
		/*margin-left:25%;*/
		margin: 0 auto;
		top:80px;
		/*left:0px;*/
	}
	body{
		padding-top:0px;
		padding-bottom:505px;
	}					
	div.bottom{
		height:485px;
	}
	.postTitle{
		border-bottom:1px solid #2D0305;
	}
	.postDescription{
		display:block;
		font-weight:normal;
	}
}
@media screen and (min-width: 550px){
	article{
		padding-right:15px;
		padding-left:15px;
		padding-bottom:15px;
	}
	#navContent{
		display:none;
	}
	#opsHolder td img{
		max-width:120px;
		height:75px;
		/*background-size: 160px 75px;*/
	}	
	.topBar{
		height:120px;
	}
	.title2{
		margin-left:0px;
		text-align:left;
		padding:10px;
		width:300px;
		float:left;
	}
	.title4{display:none;}
	#menu{
		display:none;
	}
	nav{
		left:0px;
		display:block;
		z-index: 2;
		width:100%;
		height:auto;
		position:relative;
		top:0px;
		background: linear-gradient(135deg, #edd08c 0%, #3D0305 100%);
		transform:translate(0,0);
		/*transition: transform 0.3s ease;*/
		/*background-color:#000000;*/
	/*color:#6687BD;*/
	/*box-shadow: 0px 0px 10px #000000;*/
	/*color:whitesmoke;*/
	background:#3D0305;
	background-image: linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5)), 
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5));
	background-size:8px 14px;
	background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
	}
	nav div.linkHolder{
		display:table-cell;
		position:relative;
		/*float:left;*/
		height:auto;
		min-height:20px;
		padding:5px;
		width:auto;
		border:0px solid #79161c;
	}
	nav div.linkHolder a{
		/*height:100%;*/
		color:#EDD08C;
		top:0px;
		left:0px;
		position:relative;
	}
	nav div.linkHolder:hover a{
		font-weight:normal;
		color:#6687BD;
	}
	nav div.linkHolder:hover{
		background:#3D0305;
		background: radial-gradient(ellipse at center, rgba(61,3,5,1) 0%,rgba(61,3,5,0.5) 50%,rgba(237,208,140,0) 100%);
		/*background: linear-gradient(-135deg, rgba(0,0,0,0)0%, #3D0305 100%);*/
	}
	nav .t1{
		display:table;
		width:100%;
		text-align:center;
	}
	nav .t2{
		display:table;
		width:100%;
		text-align:center;
	}
	nav .row1{
		display:table-row;
		width:100%;
	}
	nav .row2{
		display:table-row;
		width:100%;
	}
	body{
		margin-top:120px;
	}
	.title3{
		display:block;
		width:300px;
		position:absolute;
		top:90px;
		left:0px;
		margin-top:0px;
		padding-left:10px;
	}
	.smediaHolder{
		left:auto;
		right:0px;
		top:auto;
		bottom:0px
		
	}
	.contact{
		display:block;
		position:absolute;
		right:10px;
		top:0px;
		margin:5px;
		/*top:58px;*/
		color:#6687BD
	}
	.contact a{
		text-decoration:none;
		color:#EDD08C;
	}
	.contact a:hover{
		color:#6687BD;
	}
}
@media screen and (min-width: 720px){
	article iframe{
		margin-left:auto;
		margin-right:auto;
	}
	article .travel_info{
		margin-left:auto;
		margin-right:auto;
	}
	article .travel_ticker{
		width:300px;
		margin-left:auto;
		margin-right:auto;
	}
	.linkHolder{
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		display:flex;
		flex-wrap:wrap;
	}
	.post.limited{
		/*max-width:420px;*/
		width:320px;
		max-height:160px;
		height:160px;
		/*position:relative;
		float:left;*/
		display: -webkit-flex;
		display:flex;
		-moz-box-flex:1;
		-ms-box-flex:1;
		box-flex:1;
	}
	.smedia-feed{
		/*max-width:420px;*/
		width:46%;
		/*position:relative;
		float:left;*/
		display: -webkit-flex;
		display:flex;
		-moz-box-flex:1;
		-ms-box-flex:1;
		box-flex:1;
	}
	.post .limited{
		max-height:100px;
	}
	#slider{
		max-height:none;
		margin: 0 auto;
		width:80%;
		max-width:1000px;
		min-width:720px;
		/*overflow:visible;*/
	}
	#slider img{
		/*max-width:1280px;*/
		display:block;
		width:75%;
		margin-right:25%;
		/*min-width:720px;*/
		
		
	}
	#slider .sliderInfo{
		width:75%;
	}
	#opsHolder2{
		display:block;
		width:25%;
		position:absolute;
		top:0px;
		right:0px;
	}
	#opsHolder2 img{
		width:90%;
		opacity:1;
		margin:0px;
		margin-bottom:3px;
		margin-left:3px;
		position:relative;
	}
	#opsHolder2 img:hover{
		cursor:pointer;
		width:100%;
	}
	#sliderFrame{
		background:#3D0305;
		/*background-image: linear-gradient(30deg, #421C1E 12%, transparent 12.5%, transparent 87%, #421C1E 87.5%, #421C1E),
		linear-gradient(150deg, #421C1E 12%, transparent 12.5%, transparent 87%, #421C1E 87.5%, #421C1E),
		linear-gradient(30deg, #421C1E 12%, transparent 12.5%, transparent 87%, #421C1E 87.5%, #421C1E),
		linear-gradient(150deg, #421C1E 12%, transparent 12.5%, transparent 87%, #421C1E 87.5%, #421C1E),
		linear-gradient(60deg, #050909 25%, transparent 25.5%, transparent 75%, #050909 75%, #050909), 
		linear-gradient(60deg, #050909 25%, transparent 25.5%, transparent 75%, #050909 75%, #050909);*/
		background-image: linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(30deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(150deg, rgba(45, 3, 5, .9) 12%, transparent 12.5%, transparent 87%, rgba(45, 3, 5, .9) 87.5%, rgba(45, 3, 5, .9)),
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5)), 
		linear-gradient(60deg, rgba(5, 9, 9, .5) 25%, transparent 25.5%, transparent 75%, rgba(5, 9, 9, .5) 75%, rgba(5, 9, 9, .5));
		background-size:8px 14px;
		padding-bottom:30px;
		padding-top:56px;
		background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
		
	}
	#opsHolder{
		display:none;
	}
	.post{
		max-width:720px;
		margin: 5px auto;
	}
	#slider:hover .arrows{
		display:none;
	}
	nav{
		display:block;
	}
	nav .t1{
		display:block;
		width:100%;
		text-align:center;
	}
	nav .row1{
		display:table;
		position:relative;
		float:left;
		width:50%;
		height:56px;
	}
	nav .row2{
		display:table;
		position:relative;
		float:left;
		width:50%;
		height:56px;
	}
	nav div.linkHolder{
		display:table-cell;
		/*position:relative;*/
		/*float:left;*/
		height:auto;
		min-height:40px;
		padding-left:0px;
		padding-right:0px;
		width:25%;
		border:0px solid #79161c;
		vertical-align:middle;
	}
	nav div.linkHolder a{
		display:block;
		/*font-size:1.5em;*/
	}
	.botGroup1{
		left:75%;
	}
	.botGroup3{
		position:absolute;
		top:0px;
		left:25%;
	}
	.botGroup2{
		position:relative;
		left:auto;
		top:auto;
	}
	.botGroup4{
		position:relative;
		top:auto;
		left:0px;
	}
	.botGroup5{
		position:absolute;
		top:0px;
		left:50%
	}
	.botGroup6{
		position:absolute;
		top:126px;
		left:25%;
	}
	.botGroup7{
		position:relative;
		top:auto;
		left:auto;
	}
	.botGroup8{
		position:absolute;
		top:165px;
		left:25%;
	}
	.contact{
		right:10px;
	}
	div.bottom{
		height:440px;
	}
	body{
		padding-bottom:460px;
	}
}
@media screen and (min-width:1024px){
	aside{
		position:absolute;
		right:0px;
		width:190px;
		padding:10px;
		top:0px;
	}
	article{
		position:relative;
		width:804px;
		margin-left: auto;
		margin-right: auto;
		min-height: 450px;
		padding-right:220px;
	}
	article iframe{
		position:relative;
		float:left;
		margin-left:10px;
	}
	article .travel_info{
		position:relative;
		float:right;
		width:370px;
		padding-right:0px;
	}
	article .travel_ticker{
		position:relative;
		float:left;
		margin-left:10px;
		padding-bottom:10px;
	}
	article header{
	    min-height: 450px;
	}
}
@media screen and (min-width: 1280px){
	.botGroup1{
		left:80%;
	}
	.botGroup3{
		position:absolute;
		top:0px;
		left:40%;
	}
	.botGroup2{
		position:absolute;
		left:20%;
		top:auto;
	}
	.botGroup4{
		position:relative;
		top:auto;
		left:0px;
	}
	.botGroup5{
		position:absolute;
		top:0px;
		left:60%
	}
	.botGroup6{
		position:relative;
		top:auto;
		left:auto;
	}
	.botGroup7{
		position:relative;
		top:auto;
		left:auto;
	}
	.botGroup8{
		position:absolute;
		top:126px;
		left:20%;
	}
	.botGroup9{
		padding-bottom:30px;
	}
	div.bottom{
		height:370px;
	}
	body{
		padding-bottom:380px;
	}
}