Redirect 301 /about_prophecies.html /about_us/prophecies/index.html
Redirect 301 /about_services.html /about_us/services.html
Redirect 301 /about_vision.html /about_us/vision.html
Redirect 301 /about_doctrine.html /about_us/doctrine.html
Redirect 301 /about_history.html /about_us/history.html
Redirect 301 /leadership_helps.html /leadership/helps.html
Redirect 301 /leadership_pastors.html /leadership/pastors.html
Redirect 301 /leadership_staff.html /leadership/staff.html
Redirect 301 /ministries_children.html /ministries/childrens.html
Redirect 301 /ministries_youth.html /ministries/youth.html
Redirect 301 /ministries.html /ministries/index.html
Redirect 301 /outreach_partners.html /outreach/partners.html
Redirect 301 /outreach_schedule.html /outreach/travel/index.html
Redirect 301 /outreach_news.html /outreach/news/index.html
Redirect 301 /outreach_booking.html /outreach/booking.html
Redirect 301 /outreach_gallery.html /outreach/galleries.html
Redirect 301 /outreach_gallery2.html /outreach/galleries.html
Redirect 301 /testimonies.html /testimonies/index.html
Redirect 301 /testimonies/testimony1.html /testimonies/mrs-wally-jointers-testimony.html
Redirect 301 /testimonies/testimony2.html /testimonies/depressed-in-markleville.html
Redirect 301 /testimonies/testimony3.html /testimonies/mays-testimony.html
Redirect 301 /testimonies/testimony4.html /testimonies/delberts-testimony.html
Redirect 301 /testimonies/testimony5.html /testimonies/dorothy-matlocks-testimony.html
Redirect 301 /testimonies/testimony6.html /testimonies/mary-martins-testimony.html
Redirect 301 /testimonies/testimony7.html /testimonies/dawns-testimony.html
Redirect 301 /testimonies/testimony8.html /testimonies/norma-sterns-testimony.html
Redirect 301 /testimonies/testimony9.html /testimonies/erick-lusks-testimony.html
Redirect 301 /testimonies/testimony10.html /testimonies/connie-j-burts-testimony.html
Redirect 301 /testimonies/testimony11.html /testimonies/jons-testimony.html
Redirect 301 /testimonies/testimony12.html /testimonies/marlies-testimony.html
Redirect 301 /testimonies/testimony13.html /testimonies/todds-testimony.html
Redirect 301 /testimonies/testimony14.html /testimonies/stomach-healed.html
Redirect 301 /testimonies/testimony15.html /testimonies/linda-lightuers-testimony.html
Redirect 301 /testimonies/testimony16.html /testimonies/angies-testimony.html
Redirect 301 /testimonies/testimony17.html /testimonies/wedgeworths-testimony.html
Redirect 301 /testimonies/testimony18.html /testimonies/margies-testimony.html
Redirect 301 /testimonies/testimony19.html /testimonies/norma-l-stepps-testimony.html
Redirect 301 /testimonies/testimony20.html /testimonies/denise-elwoods-testimony.html
Redirect 301 /testimonies/testimony21.html /testimonies/koors-testimony.html
Redirect 301 /testimonies/testimony22.html /testimonies/stephanie-souceks-testimony.html
Redirect 301 /testimonies/testimony23.html /testimonies/god-is-using-your-leadership.html
Redirect 301 /testimonies/testimony24.html /testimonies/lung-troubles.html
Redirect 301 /testimonies/testimony25.html /testimonies/i-had-an-infection.html
Redirect 301 /testimonies/testimony26.html /testimonies/my-greatest-testimony-is-my-salvation.html
Redirect 301 /testimonies/testimony27.html /testimonies/i-have-been-troubled-by-a-sinus-condition.html
Redirect 301 /testimonies/testimony28.html /testimonies/my-eyesight-was-starting-to-deteriorate.html
Redirect 301 /testimonies/testimony29.html /testimonies/i-twisted-my-right-arm.html
Redirect 301 /testimonies/testimony30.html /testimonies/deliverance-from-demonic-powers.html
Redirect 301 /testimonies/testimony31.html /testimonies/a-lifetime-of-stuttering-instantly-healed.html
Redirect 301 /testimonies/testimony32.html /testimonies/i-used-to-walk-closely-with-god.html
Redirect 301 /testimonies/testimony33.html /testimonies/i-went-up-for-prayer-for-my-5-year-old-son.html
Redirect 301 /testimonies/testimony34.html /testimonies/i-had-grown-up-in-a-jewish-home.html
Redirect 301 /testimonies/testimony35.html /testimonies/i-was-told-by-the-doctors.html
Redirect 301 /testimonies/testimony36.html /testimonies/ever-since-i-understood-the-importance.html
Redirect 301 /testimonies/testimony37.html /testimonies/i-had-a-hiking-accident-in-february.html
Redirect 301 /testimonies/testimony38.html /testimonies/ive-been-wanting-to-share-a-testimony.html
