<div class="bottom">
	<div id="upBot" align="center" ><div class="fb-like" data-href="https://www.facebook.com/Faith-Alive-Fellowship-522267067929628" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></div>
	<hr>
	<div id="fb-root"></div>
	<div class="botNavHolder">
		<div class="botGroup1">
			<a href="/about_us/"><h4>About Us</h4></a>
			<a href="/about_us/doctrine.html"><h5>Doctrine</h5></a>
			<a href="/about_us/history.html"><h5>History</h5></a>
			<a href="/about_us/vision.html"><h5>Vision</h5></a>
			<a href="/about_us/services.html"><h5>Services</h5></a>
			<a href="/about_us/prophecies/"><h5>Prophecies</h5></a>
		</div>
		<div class="botGroup2">
			<a href="/leadership/"><h4>Leadership</h4></a>
			<a href="/leadership/pastors.html"><h5>Pastors</h5></a>
			<a href="/leadership/staff.html"><h5>Staff</h5></a>
			<a href="/leadership/helps.html"><h5>Helps Team</h5></a>
		</div>
		<div class="botGroup3">
			<a href="/ministries/"><h4>Ministries</h4></a>
			<a href="/ministries/toddlers.html"><h5>Toddler's</h5></a>
			<a href="/ministries/childrens.html"><h5>Children's</h5></a>
			<a href="/ministries/youth.html"><h5>Youth</h5></a>
		</div>
		<div class="botGroup4">
			<a href="/salvation.html"><h4>Salvation</h4></a>
		</div>
		<div class="botGroup5">
			<a href="/outreach/"><h4>Outreach</h4></a>
			<a href="/outreach/travel/"><h5>Travel Schedule</h5></a>
			<a href="/outreach/galleries.html"><h5>Photo Gallery</h5></a>
			<a href="/outreach/booking.html"><h5>Booking Information</h5></a>
			<a href="/outreach/partners.html"><h5>Ministry Partners</h5></a>
			<a href="/outreach/news/"><h5>News</h5></a>
		</div>
		<div class="botGroup6">
		<a href="/testimonies/"><h4>Testimonies</h4></a>
		</div>
		<div class="botGroup7">
		<a href="/events/"><h4>Events</h4></a>
		</div>
		<div class="botGroup8">
		<a href="/seminars.html"><h4>Media</h4></a>
		</div>
		<div class="botGroup9">
		<a href="/contact.html"><h4>Contact Us</h4></a>
		</div>
	</div>
	<hr>
	<div align="center">
		<div>&copy; 2015 Faith Alive Fellowship</div>
		<div>1<sup>st</sup> Edition - <a style="color:#6687BD" href="http://www.exodusdesign.com">Exodus Design</a></div>
		<div>2<sup>nd</sup> Edition - <a style="color:#6687BD" href="http://www.weborgtechnologies.com">Arthur Weborg Jr.</a></div>
		<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input name="cmd" value="_xclick" type="hidden">
			<input name="business" value="faf@faithalivefellowship.org" type="hidden">
			<input name="item_name" value="Donation to Faith Alive Fellowship" type="hidden">
			<input name="item_number" value="faf-donate" type="hidden">
			<input name="shipping" value="0.00" type="hidden">
			<input name="cn" value="Note to FAF" type="hidden">
			<input name="currency_code" value="USD" type="hidden">
			<input name="tax" value="0" type="hidden">
			<input name="lc" value="US" type="hidden">
			<input name="bn" value="PP-DonationsBF" type="hidden">
			<input src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" type="image" width="110" height="23" border="0">
			<img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0">
		</form> -->
	</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>		
</div>