<nav id="navBar">
	<h1 class="title4">FAITH ALIVE FELLOWSHIP</h1>
	<div class="t1">
		<div class="row1">
			<div class="linkHolder"><a href="/about_us/">About Us</a></div>
			<div class="linkHolder"><a href="/leadership/">Leadership</a></div>
			<div class="linkHolder"><a href="/ministries/">Ministries</a></div>
			<div class="linkHolder"><a href="/salvation.html">Salvation</a></div>
		</div>
		<div class="row2">
			<div class="linkHolder"><a href="/outreach/">Outreach</a></div>
			<div class="linkHolder"><a href="/testimonies/">Testimonies</a></div>
			<div class="linkHolder"><a href="/events/">Events</a></div>
			<div class="linkHolder"><a href="/seminars.html">Free Seminars</a></div>
		</div>
	</div>
	<div id="navContent">
	<div class="linkHolder"><a href="/contact.html">Contact</a></div>
	</div>
</nav>